<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${articulo.id == null} ? 'Nuevo Artículo' : 'Editar Artículo'">Formulario</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <meta charset="UTF-8">
</head>
<body>
    <h1 th:text="${articulo.id == null} ? 'Nuevo Artículo' : 'Editar Artículo'"></h1>
    <form action="/articulos/guardar" method="post" th:object="${articulo}">
        <input type="hidden" th:field="*{id}" />
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required /><br/><br/>
        
        <label>Descripción:</label>
        <input type="text" th:field="*{descripcion}" required /><br/><br/>
        
        <label>Precio:</label>
        <input type="number" step="0.01" th:field="*{precio}" required /><br/><br/>

        <button type="submit">Guardar</button>
        <a href="/articulos"><button type="button">Cancelar</button></a>
    </form>
</body>
</html>
